<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mystic">

    <application
        android:name=".application.MysticApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- to be activated service on boot is completed -->
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

        <!-- Keeps the processor from sleeping when a message is received. -->
        <uses-permission android:name="android.permission.WAKE_LOCK" />

        <!-- Allows applications to access information about networks. -->
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <!-- Allows applications to open network sockets. -->
        <uses-permission android:name="android.permission.INTERNET" />

        <service
            android:name=".service.MysticService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MysticJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name=".provider.MysticProvider"
            android:authorities="@string/authorities"
            android:enabled="true"
            android:exported="true"
            android:initOrder="0xFFFFFF" />

        <receiver
            android:name=".receiver.MysticBroadCast"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".application.MysticMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.MastersListActivity"
            android:label="@string/title_activity_masters" />
        <activity
            android:name=".ui.FiltersActivity"
            android:label="@string/title_activity_filters"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.StoriesActivity"
            android:label="@string/title_activity_stories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.QuotesListActivity" />
        <activity
            android:name=".ui.QuotesActivity"
            android:label="@string/title_activity_quotes"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>